* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    max-height: 100vh;
    color: #9a8866;
    overflow: hidden;
    font-family: 'Myfont';
    letter-spacing:1px;
    background-color: black;
  }

body > #root {
  width: 100vw;
  height: 100vh;
  }

  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    display: block;
    font-weight: bold;
  }
  
  .tile-layer-class  { 
    background-repeat: no-repeat;
    background-size: cover;
   }
  
  a {
    color: #9a8866;
    text-decoration: none;
  }

  /* leaflet style overlap */
  .leaflet-container {
    background-color: #0e0e0e;
    height: 100vh;
    width: 100vw;
  }

  /* burger menu styles */
  #outer-container {
    height: 100vh;
    width: 100vw;
  }

  #page-wrap {
    height: 100vh;
    width: 100vw;
  }

  /* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 50%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #9a8866;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #9a8866;
}

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: black;
    padding: 10px 5px;
    font-size: 1.15em;
    border-right: 1px solid #9a8866;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    padding: 0.8em;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0);
  }

  /* burger menu styles end */
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  
  @font-face {
    font-family: 'Myfont';
    font-style: normal;
    font-weight: normal;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Myfont';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/bender.regular.otf') format('opentype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
  }
  
  @font-face {
    font-family: 'BenderBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/bender.bold.otf') format('opentype');
  }